* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #f6f6f6;
}

.container {
  width: 1170px;
  margin: auto;
}

.btn {
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}

.types__header {
  margin-bottom: 75px;
  color: #666666;
  font-size: 35px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
}

.types-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.types-block {
  text-align: center;
}

.types-block__header {
  margin: 30px auto;
  color: #666666;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
}

.types-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.types-block__btn_success {
  padding: 8px 25px;
  color: #66cc66;
  border: 2px solid #66cc66;
  background-color: transparent;
}

.types-block__btn_primary {
  padding: 10px 33px;
  color: #ffffff;
  background-color: #66cc66;
  border: none;
}
